/* nu Liga default elements - update 05.09.2007 */

body { margin:0; padding:0; }
img { border:0; }

th { vertical-align:top; text-align:left; }
td { vertical-align:top; }
caption { text-align:left; font-weight:bold; }

form { margin: 0; padding: 0; }
legend {color:#000000;}
fieldset { border:0; margin:0; padding:0;}

abbr[title], acronym[title], dfn[title] {
    border-bottom: 1px dotted; 
    font-style: normal;
    cursor: help;
	 background-color:#FFCC00; padding:1px; color:#000000;
}

ul { margin: 0 0 16px 0; padding: 0 8px 0 8px; }
ul ul { margin: 0 0 0 16px; }
ol { margin: 0 0 16px 0; padding: 0 8px 0 8px; }
li { margin: 0 0 0 16px; padding:0px; }

blockquote { margin:0 0 16px 16px; }

hr {
	border-style: none;
	border-top:1px solid #cccccc;
	height:1px;
	clear:both;
}

p { margin: 0 0 16px 0; }

h1 {
	font-size: 135%;
	line-height: 133%;
	font-weight: normal;
	margin: 8px 0px 8px 0px;
}
h2 {
	font-weight:bold;
	font-size: 100%;
	margin:0;
}
h3 {
	font-size: 100%;
	font-weight: normal;
	margin:0px 0px 0px 10px;
}
h4 {
	font-size: 90%;
	font-weight: bold;
	margin: 0px;
}
h5 {
	font-size: 90%;
	font-weight: normal;
	margin:0px 0px 0px 16px;
}
h6 {
	font-size: 90%;
	font-weight: normal;
	margin:0px 0px 0px 30px;
}

/*bootstrap alert */
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}
.alert h4{margin-top:0;color:inherit}
.alert .alert-link{font-weight:700}
.alert>p,.alert>ul{margin-bottom:0}
.alert>p+p{margin-top:5px}
.alert-dismissable,.alert-dismissible{padding-right:35px}
.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}
.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}
.alert-success hr{border-top-color:#c9e2b3}
.alert-success .alert-link{color:#2b542c}
.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
.alert-info hr{border-top-color:#a6e1ec}
.alert-info .alert-link{color:#245269}
.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}
.alert-warning hr{border-top-color:#f7e1b5}
.alert-warning .alert-link{color:#66512c}
.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert-danger hr{border-top-color:#e4b9c0}
.alert-danger .alert-link{color:#843534}




/*BookAndPlay*/
.bap_btn { 
	display: block; 
	height: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	border: 1px solid #bebebe;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}
	
.bap_b100 { width: 100px }
.bap_b200 { width: 200px }

.bap_gruen {
	color: white;
	background: #34894b url(../img/bg-btn-gruen.png) 0 0 repeat-x
}

.bap_gruen:hover { background: #34894b }

.bap_grau {
	color: black;
	background: #efefef url(../img/bg-btn-grau.png) 0 0 repeat-x
}

.bap_grau:hover { background: #efefef }

.bap_pos { font-weight: bold }
.bap_neg { color: #666 }

.bap_akt { color: green }
.bap_deakt { color: red }
