/* nu Liga interface classes - update 30.11.2010 */

/* Ergebnis in einer Tabelle ausgeben 
uses: table-split, result-set-noline, result-set-comment, result-set-disabled
*/
.result-set { margin:16px 0 16px 0; width:100%; clear:both; font-size:100% }
.result-set caption { margin-top:16px; margin-bottom:0px; }
.result-set th {  border-bottom:1px solid #999999; font-size:85%; font-weight:normal; padding:0 8px 0 0px;  }
.result-set td { border-bottom:1px solid #999999; border-right:1px none; padding:0 8px 0 0px; }
.result-set td h2 { background-color:transparent!important; }
.result-set tr.last-row td { border-style:none; padding-top:2px; }
.result-set tr.result-set-noline td { border-style:none; padding-top:1px; }
.result-set tr.result-set-comment td { padding-top:4px; padding-bottom:2px; background-color:#efefef; }
.result-set tr.result-set-disabled td  { background-color:#efefef; color:#999999; }
.result-set tr.result-set-disabled a  { color:#999999; }
.result-set tr.table-split td { padding-top:8px; background-color:transparent!important; }
.result-set td.table-split { padding-top:8px; background-color:transparent!important; }
.result-set td.tabelle-leerzelle1 { background-color:#F5F5F5; }
.result-set td.tabelle-leerzelle1 h3 { margin:0; font-weight:bold; }
.result-set ol { padding:0 0 0 16px; margin:0; list-style-type:disc; }
.result-set li { padding:0 0 0 1.9em; margin:0; list-style-type:none; text-indent:-1.9em; }
.result-set ul { padding:0; margin:0; }
/* Test mit Doppelpunkt
.result-set ol { padding:0 0 0 16px; margin:0; list-style-position:inside; }
.result-set li { padding:0 0 0 0; margin:0; background-image:url(../images/bullet.gif); background-repeat:no-repeat; background-position:0.7em 0.4em;}
*/

textarea {
    font-size: 1em;
}

.tournament-overview td {
    padding: 0px 3px 0px 3px !important;
}
.tournament-overview tr.last-row td {
    padding: 0px 3px 6px 3px !important;	
}

.tournament-overview td.sub-title {
    background-color:#DDDDDD !important;
}

/* Ergebnis in einer Eingabe zur Kontrolle ausgeben 
uses: table-split, result-set-noline, result-set-comment, result-set-disabled
*/
.input-check caption { margin-top:16px; margin-bottom:0px; }
.input-check th {   font-weight:normal; padding:3px 8px 2px 0px; width:15em; }
.input-check td { border-bottom:1px solid #999999; padding:3px 8px 2px 0px;  }
.input-check {  margin:16px 0 16px 0; width:100%; }
/*.input-check span { background-color:#E3E3E3; padding:1px 10px 1px 5px}*/


/* Derzeit nur bei der Darstellung der Ligen */
.matrix {  margin:16px 0 16px 0; width:100%; border-left:1px solid #999999; /* border-top:1px solid #999999; */ font-size:90%;  }
.matrix caption { margin-top:16px; margin-bottom:0px; }
.matrix th {  border-right:1px solid #999999; font-weight:bold; padding:0; background-color:#efefef; }
.matrix td { border-bottom:1px solid #999999; border-right:1px solid #999999; padding:0; margin:0; width:20%; }
.matrix hr { color:#999999; border-color:#999999; }
.matrix h2 { background-color:#efefef; padding:0 4px 0px 4px; margin:0 0 0px 0; white-space:nowrap; border-bottom:1px solid #999999; border-top:1px solid #999999; clear:both; }
.matrix ul { padding:4px 0px 20px 0; margin:0px 0 0px 0; clear:both; width:100%; }
* html .matrix ul { padding:4px 0px 10px 0; }
.matrix li { clear:both; padding:0px 16px 0px 4px; margin:0 0px 0px 0px; /* NE 7.1 bug bei overflow:hidden; */ list-style:none; }
.matrix span { display:block; float:left; padding:0 0 0 0; width:auto; }
span.matrix-relegation { text-align:right; float:right; padding:0 0 0 0; width:2.3em; }
span.matrix-relegation-more { display:inline; padding:0 0.5em 0 0; width:inherit; }

/* Spielklassen nach oben oder unten wechseln 
uses: liga-layer-up,liga-layer-down
*/
.liga-layer { background-color:#efefef; padding:4px; }
.liga-layer p { padding-left:16px; }
.liga-layer ul{ margin:0; padding:0; padding-left:16px; }
.liga-layer li { display: inline; list-style: none; padding:0 6px 0 0; margin:0 4px 0 0; background-image:url(/images/bullet.gif); background-repeat:no-repeat; background-position:right center; }
.liga-layer li:first-child { }
.liga-layer li:last-child { background-image:url(/images/empty.gif); }
.liga-layer-up { background-image: url(/images/up_11x11.gif); background-position:left center; background-repeat:no-repeat; padding-left:16px; }
.liga-layer-down { background-image: url(/images/down_11x11.gif); background-position:left center; background-repeat:no-repeat; padding-left:16px;  }


/* Neues Objekt am Seitenende anlegen */
.insert-object { margin-top:4px; padding-top:4px; }
.insert-object label { display:block; }
.insert-object input { margin-top:4px; }


/* Standard Eingabe 
uses: border-top, button
*/
.edit-object { margin:8px 0 8px 0; clear:both; }
.edit-object fieldset { border:1px solid #C5C4B9; padding:0 8px 8px 8px; margin-bottom:16px; margin-top:16px; clear:both; }
.edit-object legend { font-weight:bold; margin-bottom:4px; }
.edit-object label { float:left; width: 160px; }
.edit-object input { margin-bottom:4px;  }
.edit-object textarea { margin-bottom:4px; }
.edit-object select { margin-bottom:4px; }
.edit-object br { clear:both; }
.edit-object tr.border-top td { border-top:1px solid #999999; }
.edit-object div { float:left; }
.edit-object input.button { margin-top:4px; margin-bottom:16px; }
.edit-object label.smallLabel { width: 8em; }


/* Eingabe Tabelle 
uses: table-split, table-group
*/
.edit-object-table {  margin:16px 0 16px 0; width:100%; border-bottom:1px solid #999999; padding-bottom:2px; clear:both; }
.edit-object-table fieldset { margin:16px 0 16px 0; }
.edit-object-table label { float:left; width: 160px; }
.edit-object-table input { margin:2px 0 2px 0; }
.edit-object-table select { margin:2px 0 2px 0; }
.edit-object-table textarea { margin-bottom:4px; }
.edit-object-table h2 { padding:0; }
.edit-object-table  br { clear:both; }
.edit-object-table caption { margin-top:8px; margin-bottom:0px; }
.edit-object-table th {  border-top:1px solid #999999;  font-size:85%; font-weight:normal; padding:0 8px 0 0px; background-color:#efefef; }
.edit-object-table td {  border-right:1px none; padding:0 8px 0 0px; }

.edit-object-table tr.table-split td  { border-top:1px solid #999999; padding-top:8px; }
.edit-object-table tr.table-group td  { border-top:1px solid #999999; }


/* Spezialfall Meldung */
table.edit-multiple-objects { clear:both; }
table.edit-multiple-objects tr { }
table.edit-multiple-objects td { vertical-align:top; }
table.edit-multiple-objects tr:hover { }
table.edit-multiple-objects table { }
table.edit-multiple-objects table td { }
table.edit-multiple-objects table tr { }
table.edit-multiple-objects table tr:hover { }
table.edit-multiple-objects table caption { }

table.edit-multiple-objects fieldset { }
table.edit-multiple-objects legend { }
table.edit-multiple-objects input { }
table.edit-multiple-objects label { }
table.edit-multiple-objects textarea { }
table.edit-multiple-objects select { }

table td.edit-multiple-objects-col1 { padding:0 0 10px 0; }
table td.edit-multiple-objects-col2 { padding:0px 20px 0 10px; clear:both; }
table td.edit-multiple-objects-col2 fieldset { }
table td.edit-multiple-objects-col2 h3 { }


/* Abfrage bzw. Login 
uses: button, options
*/
.query {  margin:8px 0 8px 0; }
.query fieldset { border:1px solid #C5C4B9; padding:8px; }
.query legend { font-weight:bold; }
.query label { float:left; width:60px; margin:3px 0 0 0; }
.query input { margin:2px 0 2px 0; width:120px; }
.query textarea { margin:2px 0 2px 0; }
.query select { margin:2px 0 2px 0; }
.query br { clear:both; }
.query div.options { margin:8px 0 0 1px;  }
.query input.button { width:auto!important; margin:8px 0 8px 0px;  }
.query input.radiobutton { width:auto!important; }

/* Suchanfrage 
uses: button
*/
.search-query { border-top:1px dotted #C5C4B9;	border-bottom:1px dotted #C5C4B9; background-color:#efefef; width:100%;}
.search-query fieldset { padding:8px 0 8px 4px; margin:0; }
.search-query legend { font-weight:bold; margin-bottom:4px; margin-left:0; padding-left:0; }
.search-query h2 { padding:4px 0 0px 4px; margin:0px 0 0 0; }
.search-query label { float:left; width:8em; }
.search-query input {  }
.search-query select {  }
.search-query input.button { margin-top:8px; }
.search-query textarea { margin-bottom:4px; }
.search-query br { clear:both; }
/* Auswahlliste innerhalb der Suche */
.search-query ul { margin:0px 0 8px 4px; padding:0; }
.search-query li { display: inline; list-style: none; padding:0 6px 0 0; margin:0 4px 0 0; background-image:url(/images/bullet.gif); background-repeat:no-repeat; background-position:right center; }
.search-query li:first-child { }
.search-query li:last-child { background-image:url(/images/empty.gif); }


/* 2 spaltige Textbloecke mit Adresse */
.text-block-2col  { padding-top:1.5em; }
.text-block-2col div { float:left; width:49.5%; padding-bottom:0; }
.text-block-2col div h2 { padding:0; margin:0;  }
.text-block-2col div address { }
.text-block-2col hr { display:none; }
.text-block-2col hr.clear { clear:both!important; width:100%!important; display:block!important; width:0%!important; }

/* 3 spaltige Textbloecke */
.text-block-3col  { padding-top:1.5em; }
.text-block-3col div { float:left; width:33%; padding-bottom:0; }
.text-block-3col div h2 { padding:0; margin:0;  }
.text-block-3col hr { display:none; }
.text-block-3col hr.clear { clear:both!important; width:100%!important; display:block!important; width:0%!important; }

/* Listenobjekte hinzufuege */
.add-list-object { margin-left:8px!important; padding-left:8px!important;  background-color:#efefef; font-size:100%!important; /* */}

/* Formularfeld mit Loeschen Button */
.delete-objects { }

/* Fortschrittanzeige */
ol.progress { 
	margin:0;
	padding:0;
	background-color:#F5F5F5;
}
ol.progress li { 
	background-color:#E3E3E3;
	background-image:url(/images/progress.gif);
	background-position:top right;
	background-repeat:no-repeat;
	list-style-position:inside;
	float:left;
	font-size:10px;
	padding:2px 16px 2px 4px;
	margin:0 0 16px 0;
}
li.progress-last { 
	background-image:url(../img/spacer.gif)!important;
}
br.progress { clear:both; height:0; line-height:0; font-size:0; }
li.progress-selected { 
	background-color:#A2B9C2 !important;
	background-image:url(/images/progress-selected.gif) !important;
}
li.progress-last-selected { 
	background-color:#A2B9C2 !important;
	background-image:url(../img/spacer.gif) !important;
}
.space-left { padding-left:8px; }
.center { text-align:center!important; }
.right { text-align:right!important; }


/* Elemente bei Bedarf ausblenden, Platz der versteckten Elemente bleibt erhalten */
.hidden { visibility:hidden; }
.display-none { display:none; }

/* Anmerkungen, Informationen als Beifuegung */
.info { color: #999999; }
.further-information { }

/* Fehlermeldungen */
.error-msg, .error-msg > * { color:#FF0000; }

/* Statusinformation */
.status-message { background-color:#FFCC00; background-image:url(/images/icon_important-ge2.gif); background-repeat:no-repeat; background-position:left; padding:2px 0 2px 20px; margin:8px 0 8px 0; border:1px dotted #C5C4B9; }
.status-message a { font-weight:normal;  }

/* PDF Pictogramm fuer download */
.picto-pdf { background-image:url(../img/picto-pdf.gif); background-repeat:no-repeat; background-position:left 2px; padding:2px 0 2px 20px; line-height:160%; font-weight:normal; }
.picto-pdf-disabled { background-image:url(../img/picto-pdf-disabled.gif); background-repeat:no-repeat; background-position:left 2px; padding:2px 0 2px 20px; line-height:160%; font-weight:normal; }
.picto-mail { }
.picto-result { background-image:url(/images/picto-winner-1.gif); background-position:left; background-repeat:no-repeat; padding:0 0 0 15px!important; }

/* CSV Pictogramm fuer download */
.picto-csv { background-image:url(../img/picto-csv.gif); background-repeat:no-repeat; background-position:left 2px; padding:2px 0 2px 20px; line-height:160%; font-weight:normal;  }
.picto-csv-disabled { background-image:url(../img/picto-csv-disabled.gif); background-repeat:no-repeat; background-position:left center; padding:2px 0 2px 20px; line-height:160%; font-weight:normal; }

.picto-doc { background-image:url(../img/picto-doc.gif); background-repeat:no-repeat; background-position:left 2px; padding:2px 0 2px 20px; line-height:160%; font-weight:normal;  }
.picto-doc-disabled { background-image:url(../img/picto-doc-disabled.gif); background-repeat:no-repeat; background-position:left 2px; padding:2px 0 2px 20px; line-height:160%; font-weight:normal; }

.picto-xml {
    background-image: url("../img/picto-xml.gif");
    background-position: left 2px;
    background-repeat: no-repeat;
    font-weight: normal;
    line-height: 160%;
    padding: 2px 0 2px 20px;
}
.picto-xml-disabled {
    background-image: url("../img/picto-xml-disabled.gif");
    background-position: left 2px;
    background-repeat: no-repeat;
    font-weight: normal;
    line-height: 160%;
    padding: 2px 0 2px 20px;
}

.picto-download {
    background-image:url("../img/ic_file_download_black_18dp.png");
    background-repeat:no-repeat;
    background-position:left 2px;
    padding:2px 0 2px 20px;
    line-height:160%;
    font-weight:normal;
}

.form-info { }
.form-input { }
.form-label { }

.msg { color:#FF0000; }
.col-left { float:left; width:60%; }
.col-right { float:right; width:40%; }
.row-clear { clear:both!important; }
.clear { clear:both; }
.align-left { float:left; }
.align-right { float:right; }
.hover-disabled:hover td { background-color:transparent!important; }


/* Abkuerzungen, Stern fuer Pflichtfeld */
.abbreviation { margin:0 0 0 0; padding:0 0 20px 0; clear:both; width:100%; }
.abbreviation h3 { margin:0 0 4px 0; }
.abbreviation dl { margin:0; }
.abbreviation dt { width:20%; float:left; font-weight:bold; clear:both; margin:0; padding:0; }
.abbreviation dd { width:80%; float:left; margin:0; padding:0; }


/* Buttons zurueck, weiter */
.form-edit-buttons-top { float:none!important; clear:both; }
.form-edit-buttons-top input { }
.form-edit-buttons-bottom { float:none!important; clear:both; }
.form-edit-buttons-bottom input { }


/* Meldung mit Statusinfo */
.registration { margin:0 0 20px 0px; background-color:#D6DEDE; }
.registration h2 { background-color:#336666; color:#FFFFFF; padding:0 0 0 10px; }
.registration h3 { margin:10px 0 0px 10px; clear:both;  }
.registration ul { margin:0 0 0px 10px; clear:both; padding:2px 0 10px 15px; }
.registration li { margin: 0 0 0px 10px; padding: 0px 0 0px 10px; line-height:180%; }
.registration dl {  margin:0 0 0px 10px; clear:both; display:block; }
.registration dt { width:22em; float:left; font-weight:bold; width:auto; padding-right:.5em;  }
.registration dd {  }
.registration div { clear:both; }
.registration div.disabled { color:#666666; }
.registration div.disabled h3 { color:#666666; }
.registration div.disabled dt { color:#666666; }
.registration div.disabled dl { color:#666666; }


/* Turnier Gegner Baumdarstellung */
.table-tree { margin:16px 0 16px 0px; }
.table-tree th { padding:0 8px 0 0px; }
.table-tree td { padding:0 4px 0 4px; }

.line-bo { border-bottom:1px solid #000000; }
.line-bore { border-bottom:1px solid #000000; border-right:1px solid #000000; }
.line-re { border-right:1px solid #000000; }


/* Turnier Gegner Matrixdarstellung */
.table-matrix { margin:16px 0 16px 0px; border-collapse:collapse; }
.table-matrix th { padding:0 4px 0 1px; font-weight:normal; border-bottom:1px solid #cccccc; border-right:1px solid #cccccc }
.table-matrix td { padding:0 1px 0 1px; border:1px solid #cccccc; background-color:#efefef; text-align:center; vertical-align:middle; }
.table-matrix td.disabled { background-color:#ffffff; }
.table-matrix td.hidden, .table-matrix th.hidden { visibility:hidden; border:0; background-color:transparent; }
.table-matrix tr.table-split td, .table-matrix tr.table-split th   { background-color:transparent; border:0; height:3em; }
.table-matrix abbr[title] { font-style: normal; cursor: help; background-color:#FFCC00; padding:1px; color:#000000; border-bottom: 0px; }

.controll-buttons { width:100%; }
.controll-buttons .align-left { float:left; width:75% }
.controll-buttons .align-right { float:right; width:25%; text-align:right; }

.result-control { border-top:1px dotted #C5C4B9; border-bottom:1px dotted #C5C4B9; /* background-color:#efefef; */ }
.result-control hr { visibility:hidden; }
.result-page { float:left; }
.result-elements { float:right; }


/* Inaktiv */
.inactive { color: #cccccc; }


/* SMS Ergebnisdienst */
#sms-info { clear:both; font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:13px; margin:0; padding:0; background-image:url(/images/sms-info-bg.gif); background-repeat:repeat-x; }
#sms-info-mobile { float:left; width:150px; margin:0; position:relative; top:-15px; left:16px; padding:43px 0px 0px 19px; background-image:url(/images/sms-info-mobile.gif); background-repeat:no-repeat;   }
* html #sms-info-mobile { top:-20px; } /* IE6 Fehldarstellung korrigieren */
#sms-info-txt { margin-left:190px; width:340px; padding:28px 0 0 0;  }
#sms-info .clear { clear:both; }
#sms-info hr { display:none; }
#sms-info p  { margin:0 0 0 0; padding:0 0 13px 0; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal; font-size:11px; line-height:13px; }
#sms-info h2 { margin:0 0 0 0; padding:0 0 13px 0; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal; font-size:11px; line-height:13px; }
#sms-info h3 { margin:0; padding:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal; font-size:11px; line-height:13px; }

/* mytischtennis Banner */
#mytischtennis-info { overflow:hidden; width:100%; }
#mytischtennis-info h1 { float:left; padding-top:5px; }
#mytischtennis-info h2 { float:left; padding-top:35px; }
#mytischtennis-info img { float:right; }


/* Banner in der Navigation */
#navigation li.banner { margin:0; padding:0; }
#navigation li.banner:hover {  background-color:transparent; }

/* Banner auf Ebene Staffel */
#banner-groupPage-content { margin:0 0 10px 0; }
#banner-groupPage-content span.left { float:left; display:block; width: 160px;}
#banner-groupPage-content span.middle { float:left; display:block; margin:0 0 0 84px; width: 160px;}
#banner-groupPage-content span.right {  float:left; display:block; margin:0 0 0 84px; width: 160px;}
#banner-groupPage-content div.clear { float:none; clear:both; }

#banner-liveticker {margin: 0 10px 10px 0;}

/* Banner in Turnierfilter und Turnierportrait */
#content-col2 .banner-turnier img {  }
#content-row2 .banner-turnier img { margin:0 2px 2px 0; }
#banner-tournamentPage { margin-bottom:20px; }
#banner-tournamentPage-content div { diplay:block; margin-bottom:20px; }
#banner-tournamentPage-content div img {   }

/* LK Graphik */
#lk-table { font-family:Arial, Helvetica, sans-serif; font-size:11px; }
#lk-table td, #lk-table th { vertical-align:bottom; width:64px; padding:0 1px 0 0; }

#lk-table div.lk { position:relative; background-color:#e0e0e0; }
#lk-table div.inactive { background-color:#e0e0e0; }
#lk-table div.inherited { background-color:#c0c0c0; }
#lk-table div.lk div { position:absolute; bottom:0; left:0; background-color:transparent; padding-left:2px; }


.lk8-meter div { background-color:#fc730d; }
.active-lk8 div.lk { background-color:#fc730d!important; font-weight:bold; }
.lk7-meter div { background-color:#f8b808; }
.active-lk7 div.lk { background-color:#f8b808!important; font-weight:bold; }
.lk6-meter div { background-color:#f3e81b; }
.active-lk6 div.lk { background-color:#f3e81b!important; font-weight:bold; }
.lk5-meter div { background-color:#b1cd0b; }
.active-lk5 div.lk { background-color:#b1cd0b!important; font-weight:bold; }
.lk4-meter div { background-color:#86bd0a; }
.active-lk4 div.lk { background-color:#86bd0a!important; font-weight:bold; }
.lk3-meter div { background-color:#76b302; }
.active-lk3 div.lk { background-color:#76b302!important; font-weight:bold; }
.lk2-meter div { background-color:#52ae0e; }
.active-lk2 div.lk { background-color:#52ae0e!important; font-weight:bold; }
.lk1-meter div { background-color:#329e0e; }
.active-lk1 div.lk { background-color:#329e0e!important; font-weight:bold; }

.point { height:5px; width:100%; overflow:hidden; font-size:1px; line-height:1px; }
.win { height:5px; margin-bottom:1px; width:100%; overflow:hidden; font-size:1px; line-height:1px; }
.lk-text td { padding:2px 0 2px 2px; font-size:11px; line-height:20px; }
.lk-text th { padding:2px 0 2px 2px; font-size:11px; line-height:20px; text-align:left; font-weight:normal; }

/* Regionen Meeting Filter */
.meeting-filter { background-color:#eeeeee; overflow:hidden; padding:8px }
.meeting-filter legend { font-weight:bold; color:#000000; margin:0; padding:0 0 1.3em 0; }
.meeting-filter .week legend { padding:0 0 0em 0; }
.meeting-filter .month { width:30%; float:left; padding:0 0 10px 0; }
.meeting-filter .month .col50 { width:50%; float:left }
.meeting-filter .week { width:30%; float:left;  border-left:1px solid #ffffff; border-right:1px solid #ffffff; padding:0 0 10px 10px;  }
.meeting-filter .category { width:30%; float:left; padding:0 0 10px 10px;   }
.meeting-filter .additional { clear:both; border-top:1px solid #ffffff; padding:5px 0 0px 0;  }
.meeting-filter .additional legend { display:none; }
/* Design ohne radio-Buttons */
.meeting-filter .month label { padding:0px 2px 0px 2px; width:60%; display:block; cursor:pointer; }
.meeting-filter .month label:hover { background-color:#ffffff; }
.meeting-filter .month .active label { background-color:#cccccc;  padding:0px 2px 0px 2px; }
.meeting-filter .month input { position:absolute; top:-4000px; left:-4000px; }
.meeting-filter .week label { padding:0px 2px 0px 2px; cursor:pointer; }
.meeting-filter .week label:hover { background-color:#ffffff; }
.meeting-filter .week .active label { background-color:#cccccc; padding:0px 2px 0px 2px;  }
.meeting-filter .week input { position:absolute; top:-4000px; left:-4000px; }
.meeting-filter .category label { padding:0px 2px 0px 2px; width:60%; display:block; cursor:pointer; }
.meeting-filter .category label:hover { background-color:#ffffff; }
.meeting-filter .category .active label { background-color:#cccccc; padding:0px 2px 0px 2px; }
.meeting-filter .category input { position:absolute; top:-4000px; left:-4000px; }

/* Bankleitzahlenvalidierung */
.auto_complete ul {
	max-height: 100px;
	overflow: auto;
	background: white;
	border: 1px solid grey;
	position:absolute;
	left:-1px; 
	padding:0px; 
	list-style:none;
	background:white; 
	z-index:1000; 
	line-height:1.5em; 
	margin:0px;
	width:99%;
}
.auto_complete ul li {
	margin:0;
	padding:2px;
	display:block;
	list-style-type:none;
	cursor:pointer; 
	text-align:left;
}
.auto_complete ul li:hover { background: #D9EEFE; }
.auto_complete ul li.selected { background: #D9EEFE; }

/*Routenplaner */
.route .text { display:block; float:left; }
.route .link { width:22px; height:16px; overflow:hidden; background-image:url(../img/picto-route.gif); background-repeat:no-repeat; background-position:2px 1px; padding:0; margin:0; text-indent: -999em; display:block; float:left; line-height:15px; }
.route a.link:hover { background-color:#cfcfcf; text-decoration:none; }
	

/* Datenschutz, Freigabe alter Daten durch Login */
#locker { margin:0 0 5px 0; }
#locker legend { display:block; width:100%; margin:0; padding:0; }
#locker legend a { display:block; background-image:url(../img/picto-login.gif); background-repeat:no-repeat; background-position:1px 0px; padding:2px 0 1px 20px; font-weight:normal; }
#locker legend span { display:block; background-image:url(../img/picto-login-active.gif); background-repeat:no-repeat; background-position:1px 0px; padding:2px 0 1px 20px; font-weight:normal; }
#locker div { padding:10px 10px 10px 20px; overflow:hidden; }
#locker div label { width:80px; display:block; float:left; }
#locker div input { width:250px; float:left; }
#locker div input.button { width:auto; float:left; }
#locker div p { margin:0; padding:0; clear:both; }
#locker .query fieldset { padding:0; margin:0; }
#locker .query input.button { width:auto; float:none; margin-left:80px; }

/* Workaround wegen Ueberlappung durch Skyscraper */
#content { position:relative; z-index:20; }
#tabs-external, #tabs, #breadcrumb, #date, #navigation, #title, #user { z-index:21; }


/* content-tabs */
.content-tabs {
	position: relative; 
    line-height: 24px;
    list-style: outside none none;
    margin: 0 !important;
    padding: 0 !important;
}
.content-tabs li  {
    background: #ececec none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: inline-block;
    margin: 0 !important;
    padding: 0 10px !important;
    position: relative;
    z-index: 0;
}
.content-tabs li.selected {
    background: #fff none repeat scroll 0 0;
    color: #000;
    border-bottom-color: #fff;
    z-index: 2;
}

.content-tabs:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  z-index: 1;
}


/* Spielersuche TENDE FlexBox Styles */
.search-result-container {
	display: flex;
	flex-direction: row;
}
.search-result-column {
	flex: 0;
	flex-basis: 20%;
	border-bottom: 1px solid grey;

}
.search-result-club {
	flex: 0;
	display: flex;
	flex-direction: column;
	flex-basis: 60%;
}
.search-result-club-row {
	flex: 0;
	display: flex;
	flex-direction: row;
	flex-basis: auto;
	border-bottom: 1px solid grey;
}
.search-result-club-row-column {
	flex:0;
	flex-basis: 33.33%;
}
.search-result-player {
	flex: 0;
	display: flex;
	flex-direction: column;
	flex-basis: 66.66%;
}
.search-result-player-row {
	flex : 0;
	display: flex;
	flex-direction: row;
	flex-basis: auto;
}
.search-result-player-row-column {
	flex: 0;
	flex-basis: 50%;
}
.contest-type-list {
	display: flex;
	flex-direction: column;
}
.contest-type-list-item {
	flex: 1;
	flex-basis: auto;
}
.search-result-header {
	display: flex;
	flex-direction: row;
}
.search-result-header-column{
	flex: 0;
	flex-basis: 20%;
	border-bottom: 1px solid grey;
}
.search-result-header-player-column {
	flex: 0;
	border-bottom: 1px solid grey;
	flex-basis: 40%;
}
            